@use '../sass/variables';
@use '../sass/mixins';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem 5rem 1.5rem;
  background-image: url('../../public/images/bg-header-mobile.svg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: variables.$color-dark-cyan;
  color: variables.$color-bg;
  position: relative;
  &__logo {
    font-style: italic;
    font-size: 1.6rem;
  }
  &__login {
    display: flex;
    align-items: center;
    &-text {
      margin-left: 0.2rem;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &__user-name {
    color: variables.$color-bg;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 0.85rem;
  }
  &__user-icon {
    font-size: 1.4rem;
  }
  &__img-container {
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.3rem;
    img {
      width: 100%;
    }
  }
}
.dropdown {
  position: absolute;
  top: 2rem;
  right: 0;
  background-color: #fff;
  color: variables.$color-very-dark-cyan;
  font-size: 0.85rem;
  line-height: 1.5rem;
  padding: 1rem 1.2rem;
  border-radius: 4px;
  box-shadow: 5px 10px 10px rgb(124, 143, 143, 0.1);
  z-index: 10;
  text-align: center;
  font-weight: variables.$font-bold;

  &-container {
    position: relative;
  }
  &.hide {
    display: none;
  }
  &-item {
    &:hover {
      color: variables.$color-dark-cyan;
    }
  }
}
.btn-logout {
  color: inherit;
  margin-top: 0.5rem;
}
