@use '../sass/variables';
@use '../sass/mixins';

.myjobs {
  font-size: 1rem;
  color: variables.$color-very-dark-cyan;

  &__item {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: variables.$shadow-cyan;
    position: relative;
    margin-bottom: 1rem;
    @include mixins.mq(md) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
  &__inner-container {
    display: flex;
    margin-bottom: 1rem;
    @include mixins.mq(md) {
      margin-bottom: 0;
    }
  }
  &__img-container {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    & img {
      width: 100%;
    }
  }

  &__position {
    font-weight: variables.$font-bold;
    line-height: 1.5rem;
    position: relative;
    transition: ease 0.2s;

    &:hover {
      color: variables.$color-dark-cyan;
    }
  }
  &__date {
    color: variables.$color-grey-cyan;
    font-size: 0.9375rem;
  }
  &__details {
    background-color: variables.$color-dark-cyan;
    color: variables.$color-bg;
    display: inline-block;
    border-radius: 4px;
    padding: 0.25rem 1rem;
  }
}
.alert-danger,
.fade {
  padding: 0.2rem 1rem;
  margin-bottom: 0.5rem;
}
